$theme-colors: (
  primary: #ff5800,
  secondary:#2b2e91,
  footerBg:#F4F7F8,
  descText:#00000099,
  bordercolor:#E9E9E9,
  gray:#00000099,
  grayColor:#718479,
  success:#00BD40,


  














  primaryColor-2: #EAF1E9,
  primaryTextColor:#6EA280,
  primaryBgColor:#EAF1E9,

  borderColor:#FDFBFB,
  mainBgColor:#FDFBFB,
  dark:#262626,
  danger: #D93939,

  warning:#F79009,
  white:#ffffff,
  textBanner:#FDFCFF,
  selectionBg: #000,
  selectionColor: #fff,
  scrollTrackBg: #fff,
  scrollThumbBg: #cdcdcd,
);


$filter-colors: (
  primary: brightness(0) saturate(100%) invert(44%) sepia(95%) saturate(2634%) hue-rotate(356deg) brightness(95%) contrast(114%),
  dark: brightness(0),
  white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7497%) hue-rotate(340deg) brightness(99%) contrast(103%),
  success: brightness(0) saturate(100%) invert(72%) sepia(62%) saturate(387%) hue-rotate(99deg) brightness(87%) contrast(89%),
  neutralColor-1: brightness(0) saturate(100%) invert(85%) sepia(21%) saturate(158%) hue-rotate(169deg) brightness(88%) contrast(92%),
  neutralColor-2: brightness(0) saturate(100%) invert(64%) sepia(21%) saturate(247%) hue-rotate(169deg) brightness(85%) contrast(88%),
  warning: brightness(0) saturate(100%) invert(60%) sepia(81%) saturate(401%) hue-rotate(354deg) brightness(107%) contrast(103%),
);